
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    background-color: #fff0ea;
}

html {
    font-size: 16px;
}

.header-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1.25rem 1.25rem;
}

.header-container h1 {
    font-family: 'Great Vibes';
    font-size: 2.5rem;
    margin: 0.5rem 1.25rem;
    letter-spacing: 4px;
    text-transform: capitalize;
}

nav {
    flex-grow: 1;
    text-align: right;
    margin-top: 0.625rem;
}

nav a {
    font-size: 1.75rem;
    line-height: 1.7;
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    color: #ff0000;
}

li {
    display: inline;
    margin: 2rem;
    font-size: 1.5rem;
}

.full-well {
    max-width: 1999px;
    width: 100%;
    position: relative;
    height: 500px;
}

 .cover > img {
    width: 100%;
    display: block;
    object-fit: cover;
}

span {
    font-family: 'Great Vibes';
    font-size: 2.81rem;
    margin-right: 0.5rem;
}

.summary {
    margin-top: 3.125rem;
    margin-left: 2.56rem;
    text-align: center;
}

.summary h2 {
    font-size: 2.06rem;
    font-family: "Playwrite GB S", cursive;
}

.summary p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.7;
}

.photos img {
    height: 300px;
    width: 30%;
}

.photos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.testimonial {
    margin-top: 6rem;
    height: 20rem;
    background-color: #e8e3dc;
    padding: 0 1rem;
    padding-top: 2rem;
    text-align: center;
}

.testimonial h1 {
    font-size: 2.06rem;
    font-family: "Playwrite GB S", cursive;
}

.testimonial p {
    font-size: 1.5rem;
    padding: 4rem 0.8rem;

}

.meeting {
    margin-top: 4rem;
    font-family: "Playwrite GB S", cursive;
    text-align: center;
}

.meeting img {
    width: 50%;
    margin: 0 auto;
    display: block;
    height: 500px;
}

.meeting h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

hr {
    height: 4px;
    background-color: black;
    margin: 0 12%;
}

.span {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    background-color: #ebe3d9;
}

.span h3 {
    margin-top: 1rem;
    font-weight: 300;
    text-align: center;
}

footer {
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.28rem;
    background-color: #ebe3d9;
    flex-wrap: wrap;
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer a:hover {
    color: #ff0000;
}

.copy {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    background-color: #ebe3d9;
}

.copy h4 {
    font-family: "Playwrite GB S", cursive;
    font-weight: 500;
    padding: 0.75rem;
}

@media only screen and (max-width:800px) {
    li {
        margin: 0.625rem;
    }

    nav {
        text-align: center;
    }
} 

@media only screen and (max-width:480px) {
    .header-container h1 {
        font-size: 2rem;
    }

    nav a {
        font-size: 1.4rem ;
    }

    .testimonial h1 {
        font-size: 1.5rem;
    }

    footer a {
        font-size: 1.1rem;
    }


    .copy {
        font-size: 1.1rem;
    }

    
}

@media only screen and (max-width: 1048px) {
    .photos img {
        width: 100%;
        margin-top: 0.93rem;
        height: 500px;
    }

    .meeting img {
        width: 100%;
    }
}

@media only screen and (max-width: 633px) {
    .testimonial h1 {
        font-size: 1.5rem;
    }

    .testimonial p {
        font-size: 1rem;
        padding-top: 0.875rem;
    }

    .summary p {
        font-size: 1.3rem;
    }

    .summary {
        margin: auto;
        text-align: center;
    }

    .summary h2 {
        font-size: 1.5rem;
        margin-top: 2.5rem;
        margin-bottom: 1.2rem;
    }

    .photos img {
        height: 300px;
    }

    .meeting img {
        height: 350px;
    }

    span {
        font-size: 2rem;
    }
    
}

